/AuditWindowsService/CompiledPolicy
/AuditWindowsService/Package
/AuditWindowsService/PolicyDefinitions
/AuditWindowsRegistry/CompiledPolicy
/AuditWindowsRegistry/Package
/AuditWindowsRegistry/PolicyDefinitions